:root {
  /* fontes */
  --ff-primary: 'Staatliches', cursive;
  --ff-segundary: 'Palanquin', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  /* background-colors */
  --bg-primary: #EFF1FF;
  --bg-secundary: #8E9AAF;
  --bg-logo: #CBC0D3;
  --bg-text-card: #FEEAFA;

  /* text color */
  --text-card: #4A4E69;
  --text-logo: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);

  background-color: var(--bg-primary);
}

body::before {
  content: '';
  width: 100%;
  height: 17.4375rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--bg-secundary);
}

header {
  display: flex;
  flex-direction: column;
  
  height: 17.4375rem;
}

header img {
  margin: auto;
  width: 8.5625rem;
  height: 8.5625rem;
  position: relative;
}

header #logod {
  opacity: 0;
  position: absolute;
} 

.logo-background {
  background-color: var(--bg-logo);

  text-align: center;
  width: 100%;

  margin-bottom: 2.69rem;
}

.logo-background h1 {
  color: var(--text-logo);
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.125rem;
}

.main {
  display: grid;

  margin: 0.88rem auto 3.75rem auto;


  width: 20rem;
  height: 102.625rem;
}

.main p {
  color: #23053A;
  text-align: center;
  font-size: 1.25rem;
  font-family: var(--ff-segundary);
  font-style: normal;
  font-weight: 400;
  line-height: 0.9375rem;

  margin-bottom: 3.94rem;
  
}

.card-wrapper {
  position: relative;
  margin-bottom: 2rem;
}

.card-wrapper h2 {
  position: absolute;
  right: 0;
  
  margin: 1rem 1rem 0 0;

  border-radius: 1.25rem;
  background-color: var(--bg-text-card);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-card);
  
  width: fit-content;
  height: 2.1875rem;
  padding: 0.06rem 1.44rem 0 1.5rem;

  display: inline-flex;
  align-items: center;
}

.card-wrapper img {
  animation: cardtop 700ms 350ms backwards;
}

.card-wrapper h2 {
  animation: carddown 700ms 500ms backwards;
}

footer {
  position: absolute;
  opacity: 0;
}


@keyframes cardtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes carddown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1100px) {

  body {
    display: grid;
    grid-template-areas: 
    "A B"
    "A C";
  }

  body::before {
    content: '';
    width: 23.5625rem;
    height: 100%;    
    background: var(--bg-secundary);
  }

  header {
    grid-area: A;
    height: 0;
    display: flex;
    flex-direction: column;
    
    width: 23.5625rem;
    position: relative;
  }

  header img {
    opacity: 0;
    position: absolute;
  }

  header #logod {
    opacity: 1;
    
    margin: 2rem 5.1rem 2.31rem 5.06rem;
    width: 13.40425rem;
    height: 10.4375rem;
    position: relative;
  }

  header::after {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem.elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem.";

    color: var(--text-logo);
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    
    margin: auto 3rem 7.81rem 3.37rem;
  }

  .main p {
    position: absolute;
    opacity: 0;

  }

  .main {
   grid-area: B;
    
    width: 46.0625rem;
    height: 33.25rem;

    margin: -1rem 14.25rem 3.12rem 29.63rem;
  }

  .cards {
    display: grid;
    grid-template-areas:
      'D E F'
      'G E I'
      'G H I';
    width: 100%;
  }

  .card-wrapper {
    margin: 3.2rem;
  }

  .cards > .card-wrapper:nth-child(1) {
    grid-area: D;
  }

  .cards > .card-wrapper:nth-child(2) {
    grid-area: E;
  }

  .cards > .card-wrapper:nth-child(3) {
    grid-area: H;
  }

  .cards > .card-wrapper:nth-child(4) {
    grid-area: G;
  }

  .cards > .card-wrapper:nth-child(5) {
    grid-area: F;
  }

  .cards > .card-wrapper:nth-child(6) {
    grid-area: I;
  }

  footer {
    position: static;
    opacity: 1;

    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    color: var(--text-card);
    font-family: var(--ff-footer);
    margin: 22.67rem 0 0 36.01rem;
  }
  
  footer p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-card);
  }
  

}